@{
    ViewData["Title"] = "Movie List";
    Layout = "_Layout";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>

<form asp-controller="Home" asp-action="Secret">
    <p>
        Click here to go to the secret page
        <input type="submit" value="Click Me" />
    </p>
</form>